# Tiny-Drone Mini V1.0 / ESP32-C3 hardware profile
CONFIG_TARGET_TINY_DRONE_MINI_V1_0=y
CONFIG_MPU_PIN_SDA=2
CONFIG_MPU_PIN_SCL=1
CONFIG_MPU_PIN_INT=8
CONFIG_ZRANGE_PIN_SDA=-1
CONFIG_ZRANGE_PIN_SCL=-1
CONFIG_SPI_PIN_MISO=-1
CONFIG_SPI_PIN_MOSI=-1
CONFIG_SPI_PIN_CLK=-1
CONFIG_SPI_PIN_CS0=-1
CONFIG_LED_PIN_BLUE=21
CONFIG_MOTOR01_PIN=0
CONFIG_MOTOR02_PIN=3
CONFIG_MOTOR03_PIN=6
CONFIG_MOTOR04_PIN=10
