# Tiny-Drone V1.0 / ESP32-S3 hardware profile
CONFIG_TARGET_TINY_DRONE_V1_0=y
CONFIG_LWIP_MAX_SOCKETS=12
CONFIG_MPU_PIN_SDA=10
CONFIG_MPU_PIN_SCL=11
CONFIG_MPU_PIN_INT=-1
CONFIG_ZRANGE_PIN_SDA=41
CONFIG_ZRANGE_PIN_SCL=40
CONFIG_SPI_PIN_MISO=21
CONFIG_SPI_PIN_MOSI=13
CONFIG_SPI_PIN_CLK=47
CONFIG_SPI_PIN_CS0=14
CONFIG_LED_PIN_BLUE=5
CONFIG_MOTOR01_PIN=3
CONFIG_MOTOR02_PIN=4
CONFIG_MOTOR03_PIN=42
CONFIG_MOTOR04_PIN=45
